PORT="8080"
LOG_LEVEL="debug"
LOG_PRETTY="true"
CORS_ORIGINS="*"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
DATABASE_MAX_CONNECTIONS="5"
DATABASE_ACQUIRE_TIMEOUT_SECONDS="10"
